.sign-in label {
  font-size: 1.2rem;
  font-weight: 400;
}
.sign-in .btn-primary {
  background-color: black;
  border: none;
  padding:10px;
  color:white;
  font: inherit;
  font-size: 1.3rem;
}

.sign-in .btn-primary:hover {
  background-color: black;
  border: none;
}
.form-signin {
  display: flex;
  flex-direction: column;
}
.sign-in {
  width: 100%;
}
