# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

/src/Components/Aside/*
/src/Components/Card/*
/src/Components/Categories/*
/src/Components/Category/*
/src/Components/ContentContainer/*
/src/Components/Filter/*
/src/Components/FilterByRating/*
/src/Components/Footer/*
/src/Components/Header/*
/src/Components/HeroContainer/*
/src/Components/Main/*
/src/Components/MainContainer/*
/src/Components/Rating/*
/src/Contexts/* 
/src/Pages/*
!/src/Pages/SignInPage/*

/src/utilityFunctions/*

/src/fire*
/src/get*
/src/Assets/*

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
