.filter__rating {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:10px
}

.filter__rating button {
 background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font:inherit;
  vertical-align: middle;
  font-weight:bold;

}
.filter__rating button:hover{
    border-bottom: 1px solid red;
}
.starticon{
    vertical-align: middle;
}
