.category {
  --color-category: rgb(15, 15, 15);
  --color-category-list-a: rgb(11, 115, 115);
  color: var(--color-category);
  font-weight: 900;
}
.category-list a {
  color: var(--color-category-list-a);
}
.category-list a:hover {
  color: black;
  font-weight: 500;
}
.side-bar nav {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.category-list {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow-y: hidden;
  padding-right: 40px;
}
.category-list:hover {
  overflow-y: auto;
}
