.category {
  --color-category: rgb(15, 15, 15);
  --color-category-list-a: rgb(11, 115, 115);
  color: var(--color-category);
  font-weight: 900;
}
.category-list a {
  color: var(--color-category-list-a);
}
.category-list a:hover {
  color: black;
  font-weight: 500;
}
.side-bar {
  display: flex;
  margin-bottom: 20px;
  align-items: flex-start;
  row-gap: 5px;
  margin-right: 10px;
}
.side-bar__clear-filter {
  padding: 10px;
  background: none;
  font-family: inherit;
  border:none;
  font-size: 1.1rem;
  cursor:pointer;
  position: relative
}
.side-bar__clear-filter::after{
  position: absolute;
  content:"";
  top:30px;
  left:10px;
  height:2px;
  width:70%;
  background: red;
  transition: width,0.3s;
}
.side-bar__clear-filter:hover::after{
  width:40%;
  transition: width,0.3s;
}
.side-bar__container {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.side-bar__container h4 {
  font-size: 1.4rem;
}
.category-list {
  display: flex;
  flex-direction: column;
  max-height: 200px;
  overflow-y: hidden;
}
.category-list:hover {
  overflow-y: auto;
}

@media screen and (max-width: 550px) {
  .side-bar button {
    padding: None;
    font-size: 1rem;
  }
}
