main {
  flex-grow: 1;
  padding: 0 100px;
}
.best-seller {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    font-size: 2rem;
  }
  .catalog-container {
    max-width: 2600px;
    padding: 0 100px;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    margin-bottom: 20px;
  }
  @media (max-width: 1660px) {
    .catalog-container {
      grid-template-columns: repeat(auto-fit, minmax(min(100%, 260px), 1fr));
    }
  }
  @media (max-width: 550px) {
   
    .catalog-container {
      grid-template-columns: repeat(auto-fit, minmax(min(100%, 260px), 1fr));
      padding: 15px;
    }
    
  }
  